<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campus.secondhand.mapper.OrderMapper">

    <select id="selectByBuyerId" parameterType="java.lang.Long" resultType="com.campus.secondhand.entity.Order">
        SELECT * FROM `orders` WHERE buyer_id = #{buyerId} AND deleted = 0 ORDER BY create_time DESC
    </select>

    <select id="selectBySellerId" parameterType="java.lang.Long" resultType="com.campus.secondhand.entity.Order">
        SELECT * FROM `orders` WHERE seller_id = #{sellerId} AND deleted = 0 ORDER BY create_time DESC
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.campus.secondhand.entity.Order">
        SELECT * FROM `orders` WHERE id = #{id} AND deleted = 0
    </select>

    <insert id="insert" parameterType="com.campus.secondhand.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `orders` (
            order_no, goods_id, goods_title, goods_price, seller_id, buyer_id,
            buyer_name, buyer_phone, buyer_address, remark, status,
            create_time, update_time, deleted
        ) VALUES (
            #{orderNo}, #{goodsId}, #{goodsTitle}, #{goodsPrice}, #{sellerId}, #{buyerId},
            #{buyerName}, #{buyerPhone}, #{buyerAddress}, #{remark}, #{status},
            NOW(), NOW(), 0
        )
    </insert>

    <update id="updateById" parameterType="com.campus.secondhand.entity.Order">
        UPDATE `orders`
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="buyerName != null">buyer_name = #{buyerName},</if>
            <if test="buyerPhone != null">buyer_phone = #{buyerPhone},</if>
            <if test="buyerAddress != null">buyer_address = #{buyerAddress},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id} AND deleted = 0
    </update>

</mapper>
